body{
	background-color: #3C948B;
	font-family: Ubuntu, sans-serif;
}
.container{
	background-color: #E1E1E1;
}
#top-head{
	background-color: #FFF;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
#top-head ul{
	margin: 0;
	padding: 5px 10px;
	list-style: none;
}
#top-head li{
	float: left;
	padding: 0px 10px;
	position: relative;
}
#top-head li a{
	font-size: 13px;
	color: #1f2228;
	transition: 0.1s color;
}
#top-head li a:hover{
	text-decoration: none;
	color: #3498db;
}
#top-head #top-nav li:after{
	right: 0px;
	content: '';
	height: 10px;
	top: 5px;
	position: absolute;
	border-right: 1px solid #bdc3c7;
}
#top-head #top-nav li:last-child:after{
	border: none;
}
#top-head li:hover ul.box-dropdown, #middle-head li:hover ul.box-dropdown{
	width: auto;
	height: auto;
	opacity: 1;
	top: 100%;
}
.currency-table td{
	padding: 2px 10px!important;
	white-space: nowrap;
}
.language-table td.flag{
	vertical-align: middle;	
	padding: 2px 0px 2px 8px;	
}
.language-table td.country{
	vertical-align: middle;	
	padding: 2px 8px 2px 5px;	
}
.language-table tr:hover, .currency-table tr:hover{
	background: #f7f7f7;	
}
.flag span{
	width: 19px;
	height: 12px;
	background: url('../img/language-icons.png') no-repeat;
	margin-right: 2px;
	display: block;
}
span.english-flag{
	background-position: 0px 0px;	
}
span.spanish-flag{
	background-position: -75px 0px;	
}
#top-head a.flag>span{
	display: inline-block;
	margin-right: 7px;	
}
.box-dropdown{
	z-index: 9999;
	position: absolute;
	overflow: hidden;
	right: 0px;
	width: 0px;
	height: 0px;
	top: 200%;
	padding-top: 13px!important;
	opacity: 0;
	transition: all 0.3s;
}
.box-dropdown .box-wrapper{
	border-top: 3px solid #34495e;
	background: #fff;
	display: block;
	position: relative;
	padding: 3px 0px;
}
.box-dropdown:after{
	content: '';
	width: 10px;
	height: 10px;
	border-bottom: 10px solid #34495e;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	right: 30px;
	top: 5px;
}
#user-nav{
	margin-top: 30px;
	margin-bottom: 30px;
}
#user-nav ul{
	list-style: none;
}
#user-nav ul.box-dropdown{
	padding: 5px 0px;
}
#user-nav ul.box-dropdown:after{
	right: 16px!important;
}
#user-nav li{
	float: left;
	position: relative;
	font-size: 13px;
}
#user-nav>ul>li>a{
	width: 50px;
	height: 50px;
	display: block;
	color: #fff;
	text-align: center;
	padding: 6px 0px;
	font-size: 13px;
	margin-right: 1px;
}
#user-nav>ul>li>a:hover{
	text-decoration: none;
}
#user-nav .user-nav-login{
	width: 250px;
	height: 50px;
	display: block;
	background: #fff;
	color: #fff;
	text-align: center;
	padding: 10px 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#user-nav i.icon{
	display: block;
}
a.red{
	background-color: #e83030;
	transition: 0.1s background-color;
}
a.red:hover{
	background-color: #d02b2b;
}
a.green{
	background-color: #75af1d;
	transition: 0.1s background-color;
}
a.green:hover{
	background-color: #699d1a;
}
i.white {color:white;}
i.blue {color:blue}
i.yellow {color:yellow}
.no-padding{
	padding: 0px!important;
}
.no-margin{
	margin: 0px!important;
}
.no-background{
	background-color: transparent;
}

