body{
	background-color: #fff;
	font-family: Ubuntu, sans-serif;
}
a{
	font-size: 13px;
	color: #777777;
	transition: 0.1s all;
}
a:hover{
	color: #79C142;
	text-decoration: none;
}
.web-general{
	max-width: 1002px;
}
.container{
	background-color: #E1E1E1;
}
#top-head .help-top{
	border-bottom-right-radius: 2px!important;
	border-bottom-left-radius: 2px!important;
}
#top-head .help-top a{
	font-size: 13px;
	color: #53686A!important;
	transition: 0.1s color;
}
#top-head .help-top a:hover{
	text-decoration: none;
	color: #0C1516!important;
}
#top-head ul{
	margin: 0;
	padding: 5px 10px;
	list-style: none;
}
#top-head li{
	float: left;
	padding: 0px 10px;
	position: relative;
}
#top-head li a{
	font-size: 13px;
	color: #9CA1A2;
	transition: 0.1s color;
}
#top-head li a:hover{
	text-decoration: none;
	color: #fff;
}
#top-head #top-nav li:first-child{
	padding-left: 0px;
}
#top-head #top-nav li:last-child{
	padding-right: 0px;
}
#top-head #top-nav li:last-child:after{
	border: none;
}
.currency-table td{
	padding: 2px 10px!important;
	white-space: nowrap;
}
.language-table td.flag{
	vertical-align: middle;	
	padding: 2px 0px 2px 8px;	
}
.language-table td.country{
	vertical-align: middle;	
	padding: 2px 8px 2px 5px;	
}
.language-table tr:hover, .currency-table tr:hover{
	background: #f7f7f7;	
}
.flag span{
	width: 19px;
	height: 12px;
	background: url('../img/language-icons.png') no-repeat;
	margin-right: 2px;
	display: block;
}
span.english-flag{
	background-position: 0px 0px;	
}
span.spanish-flag{
	background-position: -75px 0px;	
}
#top-head a.flag>span{
	display: inline-block;
	margin-right: 7px;	
}
li:hover ul.box-dropdown{
	width: auto!important;
	height: auto!important;
	opacity: 1;
	top: 100%;
}
.box-dropdown{
	z-index: 9999;
	position: absolute;
	overflow: hidden;
	right: 0px;
	width: 0px!important;
	height: 0px!important;
	padding-top: 13px!important;
	top: 200%;
	opacity: 0;
	transition: all 0.3s;
}
.box-dropdown .box-wrapper{
	border-top: 3px solid #79C142;
	background: #F3F5F6;
	display: block;
	position: relative;
	padding: 3px 0px;
}
.box-dropdown:after{
	content: '';
	width: 10px;
	height: 10px;
	border-bottom: 10px solid #79C142;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	right: 30px;
	top: 5px;
}
#user-nav{
	margin-top: 30px;
	margin-bottom: 30px;
}
#user-nav ul{
	list-style: none;
}
#user-nav ul.box-dropdown{
	padding: 5px 0px;
}
#user-nav ul.box-dropdown:after{
	right: 16px!important;
}
#user-nav li{
	float: left;
	position: relative;
	font-size: 13px;
}
#user-nav>ul>li>a{
	width: 50px;
	height: 50px;
	display: block;
	color: #fff;
	text-align: center;
	padding: 6px 0px;
	font-size: 13px;
	margin-right: 1px;
	border-radius: 2px;
}
#user-nav>ul>li>a:hover{
	text-decoration: none;
}
#user-nav .user-nav-login{
	color: #53686A;
	max-width: 253px;
	height: 50px;
	display: block;
	text-align: center;
	padding: 10px 15px;
	background-color: #fff;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
#user-nav .user-nav-login a{
	color: #000!important;
	text-decoration: none;
	transition: 0.1s all;
}
#user-nav .user-nav-login a:hover{
	color: #79C142!important;
}
#user-nav .user-border{
	border-top-right-radius: 2px!important;
	border-bottom-right-radius: 2px!important;
}
#user-nav i.icon{
	display: block;
}
#main-nav{
	padding-left: 14px;
	padding-right: 14px;
}
#main-nav>ul, #main-nav>ul>li>ul, #main-nav>ul>li>ul>li>ul, #main-nav>ul>li>ul>li>ul>li>ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#main-nav>ul{
	table-layout: fixed;
	white-space: nowrap;
}
#main-nav>ul>li>a{
	color: #D6D7D8;
	text-decoration: none;
}
#main-nav>ul>li{
	border-right: 1px solid #384245;
	display: table-cell;
}
#main-nav>ul>li:first-child{
	border-left: 1px solid #384245;
}
#main-nav span.current-item{
	background-color: #79C142!important;
	color: #30383B;
}
#main-nav span.nav-caption{
	display: block;
	font-size: 13px;
	padding: 10px 8px;
	transition: 0.1s all;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	background-color: #30383B;
}
#main-nav span.nav-caption:hover{
	background-color: #F5F5F5;
	color: #30383B;
}
#main-nav .main-nav-title{
	color: #575757;
	display: block;
	font-size: 14px;
	font-weight: bold;
}
#main-nav span.nav-description{
	display: block;
	font-size: 13px;
}
#main-nav li:hover>ul.wide-dropdown{
	display: block;
}
#main-nav li.menu-dropdown:hover>ul.wide-dropdown{
	display: block;
}
#main-nav li.menu-dropdown:hover>a span.nav-caption{
	background-color: #F5F5F5;
	color: #30383B;
}
#main-nav li.menu-dropdown:hover>span{
	background-color: #F5F5F5;
	color: #30383B;
}
#main-nav .main-search ul.wide-dropdown{
	display: none;
	z-index: 9999;
	width: auto;
	padding: 15px;
	right: 15px;
	position: absolute;
	transition: 0.1s all;
}
#main-nav ul.wide-dropdown{
	display: none;
	z-index: 9999;
	width: auto;
	padding: 15px;
	position: absolute;
	transition: 0.1s all;
}
#main-nav ul.wide-dropdown>li{
	float:left;
	margin-right: 15px;
}
#main-nav ul.wide-dropdown>li:last-child{
	margin-right: 0px;
}

#main-nav ul.wide-dropdown{
	background-color: #F5F5F5!important;
	transition: 0.1s all;
}
#main-nav .main-search{
	width:100%!important;
}
#main-nav span.main-search-box{
	cursor:pointer;
	text-align:center;
	transition: all 0.1s;
	background-color: #1abc9c;
	color: #D6D7D8;
}
#main-nav .main-search p{
	color: #777777;
}
#best-sellers{
	position: relative;
	height: 35px;
	width: 100%;
	display: block;
}
#best-sellers .title{
	padding: 6px 15px;
	float: left;
}
#best-sellers .title p{
	color: #D6D7D8;
	font-size: 16px;
	margin: 0 auto;
}
#best-sellers .nav{
	width: 44px;
	float: right;
}
#block-default .title{
	height: 35px;
	width: 100%;
	font-size: 16px;
	padding-left: 10px;
	display:table;
}
#block-default .title span{
	display:table-cell;
 	vertical-align:middle;
 	color: #fff;
}






.owl-carousel .item {
	width: 100%;
    height: auto;
    border: 1px #000;
    background: #4DC7A0;
}
.owl-carousel .game {
	width: 100%;
    height: auto;
}

#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #7fc242;
}

#progressBar {
  width: 100%;
  background: #EDEDED;
}




#customNav,
#customDots {
    padding: 12px;
    margin-bottom: 12px;
}

#customNav {
    border: 1px solid #4CAF50;
}
#customDots {
    border: 1px solid #F44336;
}



.customNav,
.customDots {
    margin: 0;
    font-size: 16px ! important;
}








a.red{
	background-color: #30383B;
	color: #D6D7D8!important;
	transition: 0.1s all;
}
a.red:hover{
	background-color: #485559;
	color: #fff!important;
}
a.green{
	background-color: #30383B;
	color: #D6D7D8!important;
	transition: 0.1s all;
}
a.green:hover{
	background-color: #485559;
	color: #fff!important;
}
i.white {color:white;}
i.blue {color:blue}
i.yellow {color:yellow}
.no-padding{
	padding: 0px!important;
}
.no-lr-padding{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.no-margin{
	margin: 0px!important;
}
.less-margin{
	margin-top: 15px!important;
	margin-bottom: 15px!important;
}
.add-margin{
	margin-right: 15px!important;
	margin-left: 15px!important;
}
.add-padding-right{
	padding-right: 30px!important;
}
.add-margin-bottom{
	padding-top: 6px;
	margin-bottom: 15px!important;
}
.add-margin-top{
	margin-top: 15px!important;
}
.no-background{
	background-color: transparent;
}
.col-centered{
	float: none;
	margin: 0 auto;
}
.background-1{
	background-color: #384245!important;
}
.background-2{
	background-color: #F3F5F6!important;
}
.background-3{
	background-color: #30383B!important;
}
.background-4{
	background-color: #34495E!important;
}
.background-5{
	background-color: #1abc9c!important;
}
.background-6{
	background-color: #E74C3C!important;
}
.background-7{
	background-color: #E0F2F6!important;
}